/* common.scss */

/* selection */
*::selection {
  color: $gray-900;
  background: rgba($gray-600, 0.3);
}

:root {
  font-size: $html-font-size;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: auto;
}

body {
  min-height: 100%;
  width: 100%;
  min-width: $content-min-width;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  //line-height: 1.3;
  position: relative;
  color: $green-600;
	@include var(background, main-color-6);
	font-family: $default-fonts;
  overflow-x: hidden;
}

.js body {
  //opacity: 0;
  //transition-property: opacity;
  //transition-duration: .75s;
  //transition-timing-function: ease-out;
}

/* common.scss end */
