.input {
  display: block;
  width: 100%;
  padding: 1rem 2rem;
  background: $white;
  border: .1rem solid transparent;
  border-radius: .4rem;
  resize: none;
  transition-duration: .12s;
  transition-property: border-color, background;
  &.is-invalid {
    border-color: $red;
  }
  &.is-focused {

  }
}

.input-icon {
  position: relative;
  padding-left: 4.5rem;
  border-radius: .4rem;
  overflow: hidden;
  input{
    @extend .input;
    padding-left: .5rem;
    border-radius: 0;
  }
  span {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4.5rem;
    background-color: $white-300;
    transition-duration: .2s;
    transition-property: background-color;
    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

    }
  }
  &.is-invalid {
    span {
      background-color: $red;
    }
  }
}

.radio {
  display: inline-block;
  text-align: center;
  max-width: 100%;
  padding: .5rem 0;
  color: $white;
  margin-right: 1rem;
  transition: color .2s ease-out;
  &:last-child {
    margin-right: 0;
  }
  > input[type="radio"] {
    display: none;
  }
  > span {
    display: inline-block;
    vertical-align: middle;
    padding-left: 3rem;
    position: relative;
    line-height: 1.5;
    transition: color .2s;
    color: $white;
    &:hover {
      color: inherit;
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1.8rem;
      height: 1.8rem;
      border-radius: 50%;
      background-color: $white;
    }
    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      left: .9rem;
      top: 50%;
      margin-left: -.5rem;
      transform: translateY(-50%);
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      @include themify($themes) {
        background-color: themed('main-color-4');
      }
      opacity: 0;
      transition: opacity .2s ease-out;
    }
  }
  > input[type="radio"]:checked + span {
    &:after {
      opacity: 1;
    }
  }
  > input[type="radio"]:disabled + span:after {
    opacity: .5;
    pointer-events: none;
  }
}

.checkbox {
  display: inline-block;
  text-align: center;
  max-width: 100%;
  padding: .5rem 0;
  color: $white;
  transition: color .2s ease-out;
  > input[type="checkbox"] {
    display: none;
  }
  > span {
    display: inline-block;
    vertical-align: middle;
    padding-left: 3rem;
    position: relative;
    line-height: 1.5;
    transition: color .2s;
    color: $white;
    &:hover {
      color: inherit;
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 2.3rem;
      height: 2.3rem;
      border-radius: .4rem;
      background-color: $white;
    }
    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      left: 4px;
      top: 50%;
      transform: translateY(-50%);
      width: 1.7rem;
      height: 1.7rem;
      background-image: url(../../assets/images/icon/checked.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50%;
      opacity: 0;
      transition: opacity .2s ease-out;
    }
  }
  > input[type="checkbox"]:checked + span {
    &:after {
      opacity: 1;
    }
  }
  > input[type="checkbox"]:disabled + span:after {
    opacity: .5;
    pointer-events: none;
  }
}