.btn-scroll {
	display: block;
	svg {
		max-width: 100%;
		path {
			transition-property: fill;
			transition-duration: .1s;
		}
	}
}

.btn {
  display: inline-block;
  width: 100%;
  position: relative;
  border: none;
  box-shadow: none;
  padding: 2rem;
  @include themify($themes) {
    background: themed('main-color-3');
  }
  color: white;
  border-radius: .3rem;
  overflow: hidden;
  &:hover {
    box-shadow: 0 5px 13px 2px rgba($gray-800, .5);
  }
  transition-duration: .2s;
  transition-property: box-shadow;
}

.btn-icon {
	display: inline-block;
	position: relative;
	border: none;
	text-shadow: none;
	padding-left: 4.5rem;
	padding-right: 2rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
  @include themify($themes) {
    background: themed('main-color-3');
  }
	color: white;
	border-radius: .3rem;
	overflow: hidden;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 0;
		background-color: $red;
		transition-duration: .2s;
		transition-property: width;
	}
	&:hover {
		&:before {
			//width: 100%;
		}
	}
}

.btn-icon_icon {
	position: absolute;
	left: 1.3rem;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
}

.btn-icon_text {
	position: relative;
	pointer-events: none;
}

.btn-main {
	display: inline-block;
	width: 100%;
	border: none;
	box-shadow: none;
	text-shadow: none;
	padding: 2rem;
	color: $white;
	text-align: center;
	background-color: rgba($white-300, .1);
	transition-duration: .2s;
	transition-property: background-color;
	&:hover {
    @include themify($themes) {
      background-color: themed('main-color-4');
    }
	}
	&:disabled {
		cursor: default;
		background-color: rgba($white, .5);
	}
}

.btn--transparent {
	display: inline-block;
	padding: 1.5rem 3.5rem;
	color: $white;
	border: .1rem solid $white;
	box-shadow: none;
	background-color: transparent;
}

