.contact {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba($white-200, .8);
	border-radius: .4rem;
	padding: 4rem 3rem;
	max-width: 38rem;
	width: 100%;
	z-index: 1;
}

.contact_title {
	padding-bottom: 3rem;
}

.contact_item {
	display: flex;
	align-items: center;
	padding-bottom: 2rem;
	&:last-child {
		padding-bottom: 0;
	}
}

.contact_icon {
	padding-right: 1rem;
	path {
    @include themify($themes) {
      fill: themed('main-color-4');
    }
	}
}

@media only screen and (max-width: $screen-sm-max) {
	.contact {
		position: static;
		transform: none;
		margin: 0 auto;
	}
}