.input {
	display: block;
	width: 100%;
	padding: 1rem 2rem;
	background: $white;
	border: .1rem solid transparent;
	border-radius: .4rem;
	resize: none;
  transition-duration: .12s;
  transition-property: border-color, background;
	&.is-invalid {
		border-color: $red;
	}
	&.is-focused {

	}
}

.input-icon {
  position: relative;
  padding-left: 4.5rem;
  border-radius: .4rem;
  overflow: hidden;
  input{
    @extend .input;
    padding-left: .5rem;
    border-radius: 0;
  }
  span {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4.5rem;
    background-color: $white-300;
    transition-duration: .2s;
    transition-property: background-color;
    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

    }
  }
  &.is-invalid {
    span {
      background-color: $red;
    }
  }
}