.title {
	//display: inline-block;
	font-weight: 700;
	text-align: center;
	font-family: $title-font;
	text-transform: uppercase;
	line-height: 1;
	&.line {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 0;
			width: 9rem;
			height: .3rem;
		}
	}
}

.title-medium {
	@extend .title;
	font-size: 3.5rem;
	@include var(color, main-color-2);
	&.line {
		padding-bottom: .7em;
		margin-bottom: .7em;
		&:before {
			@include var(background-color, main-color-2);
		}
	}
}

.title-big {
	@extend .title;
	font-size: 6.3rem;
	@include var(color, main-color-1);
	&.line {
		padding-bottom: .4em;
		margin-bottom: .4em;
		&:before {
			@include var(background-color, main-color-1);
		}
	}
}

@media only screen and (max-width: $screen-lg-max) {
	.title-big {
		font-size: 5.6rem;
	}
	.title-medium {
		font-size: 3rem;
	}
}

@media only screen and (max-width: $screen-md-max) {
	.title-big {
		font-size: 4.4rem;
	}
	.title-medium {
		font-size: 2.6rem;
	}
}
