.section {
  padding: 4rem 0;
}

.hero-figure {
  position: relative;
  &:before,
  &:after {
    content: '';
    position: absolute;
    display: block;
    min-height: 20rem;
    height: 50%;
    width: 50%;
    background: inherit;
    top: 0;
    transform: skewY(8deg);
    transform-origin: 100%;
    z-index: 1;
    -webkit-backface-visibility: hidden;
  }
  &:before {
    left: 0;
    @include themify($themes) {
      background-color: themed('main-color-5');
    }
    transform: skewY(8deg);
    transform-origin: 100%;
  }
  &:after {
    right: 0;
    @include themify($themes) {
      background-color: themed('main-color-6');
    }
    transform: skewY(-8deg);
    transform-origin: 0;
  }
}

section {
	hr {
		border: none;
		border-bottom: .1rem solid $gray-400;
		margin: 0;
		padding: 0;
	}
}



@media only screen and (min-width: $screen-xl-min) {
	.text-xl-center {
		text-align: center;
	}

	.text-xl-right {
		text-align: right;
	}

	.text-xl-left {
		text-align: left;
	}
}


@media only screen and (min-width: $screen-lg-min) {
	.text-lg-center {
		text-align: center;
	}

	.text-lg-right {
		text-align: right;
	}

	.text-lg-left {
		text-align: left;
	}
}

@media only screen and (min-width: $screen-md-min) {
	.text-md-center {
		text-align: center;
	}

	.text-md-right {
		text-align: right;
	}

	.text-md-left {
		text-align: left;
	}
}

