$html-font-size: 62.5%;
/* breakpoints */
$screen-xs: 0 !default; // 0
//// Small screen / tablet
$screen-sm: 36em !default; // 576px
//// Medium screen / desktop
$screen-md: 48em !default; // 768px
//// Large screen
$screen-lg: 62em !default; // 992px
//// Extra large screen
$screen-xl: 75em !default; // 1200px
//// Super extra large screen
$screen-xxl: 87.5em !default; // 1400px

$screen-xxxl: 100em !default; // 1600px

$grid-gutter-width: 3rem !default;

$grid-breakpoints: (
        xs: 0,
        sm: $screen-sm,
        md: $screen-md,
        lg: $screen-lg,
        xl: $screen-xl,
        xxl: $screen-xxl,
        xxxl: $screen-xxxl
) !default;

$content-max-width: 180rem !default;
$content-min-width: 32rem !default;

// for min-width media
//
//$screen-xs-min: $screen-xs !default; // from 768
$screen-sm-min: $screen-sm !default; // from 577px
$screen-md-min: $screen-md !default; // from 769px
$screen-lg-min: $screen-lg !default; // from 993px
$screen-xl-min: $screen-xl !default; // from 1201px
$screen-xxl-min: $screen-xxxl !default; // from 1601px

// for max-width media
//
$screen-xs-max: ($screen-sm - 0.0625) !default; // till 575
$screen-sm-max: ($screen-md - 0.0625) !default; // till 769px
$screen-md-max: ($screen-lg - 0.0625) !default; // till 991px
$screen-lg-max: ($screen-xl - 0.0625) !default; // till 1199px
$screen-xl-max: ($screen-xxl - 0.0625) !default; // till 1399px
$screen-xxl-max: ($screen-xxxl - 0.0625) !default; // till 1599px
//$screen-xlg-max: ($screen-xxl - 0.0625) !default; // till 1599

/* color variables */
$white: #fff; //const
$black: #000; //const

$orange: #ffd627;
$pink: #ff447e;

$red: #A70018;


$blue-200: #05dbd1;
$blue-300: #d3dbe1;
$blue-400: #caccde;
$blue-700: #0548be;
$blue-800: #083c96;
$blue-900: #242635;

$white-200: #fcfcfc;
$white-300: #ebebeb;

$green-700: #373e42;
$green-600: #566358;
$green-400: #4e8839;
$green-400-a: rgba($green-400, .8);
$green-300: #6c9c5a;




$vars: (
		main-white: $white,
		main-color-1: $blue-900,
		main-color-2: $green-600,
		main-color-3: $green-400,
		main-color-4: $green-300,
		main-color-4-a: $green-400-a,
		main-color-5: #ebefe2,
		main-color-6: #f4f5f0,
);
//@include var(background-color, main-color-4);


/*Theme colors*/

$themes: (
  blue-black: (
    main-color-1: $blue-900,
    main-color-2: $blue-800,
    main-color-3: $blue-700,
    main-color-4: $blue-700,
    main-color-4-a: $green-400-a,
    main-color-5: #ebefe2,
    main-color-6: #f4f5f0,
  ),
  blue: (
    main-color-1: $green-700,
    main-color-2: $green-600,
    main-color-3: $green-400,
    main-color-4: $green-300,
    main-color-4-a: $green-400-a,
    main-color-5: #ebefe2,
    main-color-6: #f4f5f0,
  ),
  green: (
    main-color-1: $green-700,
    main-color-2: $green-600,
    main-color-3: $green-400,
    main-color-4: $green-300,
    main-color-4-a: $green-400-a,
    main-color-5: #ebefe2,
    main-color-6: #f4f5f0,
  ),
  orange: (
    main-color-1: #222,
    main-color-2: #ddd,
    main-color-3: #aaa,
    main-color-4-a: uppercase,
    main-color-4: #ddd,
    main-color-5: #333,
    main-color-6: 1px solid #aaa,
  ),
);

$gray-400: #dbe4eb;
$gray-500: #cccccc;
$gray-600: #999999;
$gray-700: #868686;
$gray-800: #333333;
$gray-900: #212121;

/* fonts */
$main-font: 'Roboto';
$title-font: 'Open Sans';

$default-fonts: $main-font, 'sans-serif';
$title-fonts: $title-font, $main-font, 'sans-serif';