.article-blog {
  max-width: 80rem;
  padding-bottom: 7rem;
}

.article-blog_header {
  padding-bottom: 3rem;
  time {
    font-size: 1.6rem;
    @include themify($themes) {
      color: themed('main-color-3');
    }
  }
}

.article-blog_title {
  padding-bottom: 2rem;
  color: $gray-800;
  font-family: $title-fonts;
  font-weight: 700;
  font-size: 3.5rem;
}

.article-blog_content {
  @extend .typography;
}