.user {
	text-align: center;
	&.user--login {
			color: $white;
		.user_descr {
			color: rgba($white, .7)
		}
	}
}

.user_img {
	max-width: 14rem;
	max-height: 14rem;
	margin: auto;
	margin-bottom: 2rem;
	border-radius: 50%;
	overflow: hidden;
	img {
		display: block;
		max-width: 100%;
	}
}

.user_name {
	padding-bottom: 1rem;
	font-family: $title-font;
	font-size: 3.5rem;
	font-weight: 600;
}