.hero {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	min-height: 50rem;
	width: 100%;
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
}

.hero_content {
	color: $white;
	text-align: center;
}

.hero_btn {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 7rem;
	.btn-scroll {
		animation-name: ScrollDown;
		//animation-fill-mode: both;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
		transform-origin: center bottom;
	}
}

@media only screen and (max-width: $screen-sm-max) {
	.hero {
		height: auto;
	}
}