.portfolio {
	position: relative;
	@include var(background-color, main-color-6);
	z-index: 1;
	@extend .hero-figure;
}

.portfolio_title {
	position: relative;
	padding-top: 5rem;
	padding-bottom: 4rem;
  z-index: 2;
	.title-big {
		position: relative;
	}
}

.portfolio_title-bg {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	svg {
		path {
			transition-duration: 1s;
			transition-delay: .2s;
			transform: translate3d(0, -30%, 0) scaleY(1);
			transition-timing-function: ease-in-out;
			fill-opacity: 0;
		}
	}
	&.is-active {
		svg {
			path {
				transform: translate3d(0, 0, 0) scaleY(1);
				fill-opacity: .5;
			}
		}
	}
}