.skills_group {
	.CircularProgressbar ,
	.CircularProgressbar-path {
		transition-duration: 1s;
		transition-property: stroke-dashoffset, stroke;
	}
}

.skills_title {
	padding-bottom: 2rem;
	font-size: 2.8rem;
	text-align: left;
}

.skills_list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -2rem;
}

.skills_item {
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 3.5rem;
}

.skills_circle {
	position: relative;
	display: inline-block;
	width: 13rem;
	height: 13rem;
  .CircularProgressbar .CircularProgressbar-path {
    @include themify($themes) {
      stroke: themed('main-color-4');
    }
  }
}

.skills_name {
	max-width: 8rem;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-overflow: ellipsis;
	overflow: hidden;
}

@media only screen and (max-width: $screen-md-max) {
	.skills_title {
		text-align: center;
	}
	.skills_list {
		justify-content: center;
	}
}

@media only screen and (max-width: $screen-sm-max) {
	.skills_group {
		padding-bottom: 2rem;
	}
	.skills_list {
		margin: 0 -1rem;
		justify-content: center;
	}
	.skills_item {
		padding-left: 1rem;
		padding-right: 1rem;
		padding-bottom: 1rem;
	}
	.skills_circle {
		width: 11rem;
		height: 11rem;
	}
}