.about {
  display: flex;
  flex-wrap: wrap;
  @extend .hero-figure;
}

.about_right,
.about_left {
  position: relative;
  display: flex;
  flex-basis: 50%;
  width: 50%;
  padding: 2rem;
  z-index: 2;
}

.about_left {
  justify-content: flex-end;
  @include themify($themes) {
    background-color: themed('main-color-5');
  }
  &:before {
    transform: skewY(8deg);
    transform-origin: 100%;
  }
}

.about_left-title {
  position: relative;
  flex-grow: 1;
}

.about_left-svg {
  position: absolute;
  left: 50%;
  top: -4rem;
  transform: translateX(-50%);
  opacity: .7;
}

.about_right {
  text-align: center;
  padding-left: 4rem;
  @include themify($themes) {
    background-color: themed('main-color-6');
  }
  &:before {
    transform: skewY(-8deg);
    transform-origin: 0;
  }
}

.about_right-title {
  position: relative;
  max-width: 34rem;
  margin: auto;
}

.about_right-content {
  @extend .typography;
}

@media only screen and (max-width: $screen-xxl-max) {
  .about_left {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .about_left-title {
    flex-grow: 0;
    margin: 0 auto;
  }
}

@media only screen and (max-width: $screen-md-max) {
  .about_right,
  .about_left {
    padding-top: 4rem;
    flex-basis: 100%;
    width: 100%;
  }
  .about_left {
    &:before {
      right: 50%;
      height: 30%;
    }
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      right: 0;
      display: block;
      height: 30%;
      background: inherit;
      top: 0;
      transform: skewY(-8deg);
      transform-origin: 0;
      z-index: -1;
      -webkit-backface-visibility: hidden;
    }
  }
  .about_right {
    max-width: 70rem;
    margin: 0 auto;
    &:before {
      display: none;
    }
  }
}

