.contact-form {
  display: block;
  height: 100vh;
  min-height: 75rem;
  padding-top: 5rem;
  //padding: 30rem;
  padding-bottom: 11.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.contact-form_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.contact-form_title {
  padding-bottom: 5rem;
}

.contact-form_blur {
  background-size: cover;
  overflow: hidden;
  filter: blur(5px);
  position: absolute;
  //height: 300px;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
}

.contact-form_wrap-form {
  position: relative;
  border-radius: .4rem;
  overflow: hidden;
  z-index: 1;

}