.socials {
	display: flex;
	align-items: center;
	&.socials--border {
		.socials_item {
			a {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 3.5rem;
				height: 3.5rem;
				padding: .6rem;
				border: .1rem solid $white;
				border-radius: 50%;
				opacity: .5;
				&:hover {
					opacity: 1;
					background-color: $white;
					svg path {
						fill: rgba($black, .5);
					}
				}
			}
		}
	}
}

.socials_item {
	padding-right: 2rem;
	&:last-child {
		padding-right: 0;
	}
	a {
		display: block;
		transition-duration: .1s;
		transition-property: fill;
		svg path {
			transition-duration: .05s;
			transition-property: fill;
		}
		&:hover {
			svg path {
        @include themify($themes) {
          fill: themed('main-color-4');
        }
			}
		}
	}
}