.blog {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20rem;
  @extend .hero-figure;
  &:after,
  &:before {
    @include themify($themes) {
      background-color: themed('main-color-6');
    }
  }
}

.blog_left {
  position: relative;
  width: 30%;
  z-index: 2;
}

.blog_right {
  position: relative;
  width: 70%;
  z-index: 2;
}

.blog_form {
  position: relative;
  max-width: 50rem;
}

.blog_form-inner {
  //position: absolute;
  //top: 0;
  //left: 0;
  //right: 0;
  //height: 0;
  //overflow: hidden;
  //transition-duration: 1s;
}