.color-switcher {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.color-switcher_item {
  position: relative;
  padding: 1.5rem 0;
  padding-right: 2rem;
  &:hover {
    .color-switcher_btn {
      opacity: 1;
    }
    .color-switcher_item-text {
      transform: translate(0, -50%);
      opacity: 1;
      visibility: visible;
    }
  }
}

.color-switcher_btn {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: none;
  box-shadow: none;
  opacity: .5;
  transition-duration: .2s;
  transition-property: opacity;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    border-radius: 50%;
    border: 1px solid $red;
    opacity: 0;
    transition-duration: .2s;
  }
  &.is-active {
    opacity: 1;
    &:before {
      transform: scale(1.7);
      opacity: .7;
    }
  }
  &--green {
    background-color: $green-600;
    &:before {border-color: $green-600;}
  }
  &--orange {
    background-color: $orange;
    &:before {border-color: $orange;}
  }
  &--blue {
    background-color: $blue-400;
    &:before {border-color: $blue-400;}
  }
  &--blue-black {
    background-color: $blue-900;
    &:before {border-color: $blue-900;}
  }
}

.color-switcher_item-text {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(2rem, -50%);
  color: $black;
  opacity: 0;
  visibility: hidden;
  transition-duration: .25s;
  transition-property: opacity, transform;
  transition-timing-function: ease-in-out;
}