.nav-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include var(background, main-color-6);
  color: #fff;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  text-align: center;
  overflow-y: auto;
  padding: 1rem 0;
  margin: auto;
  min-width: 320px;
  z-index: 100;
  //opacity: 0;
  //visibility: hidden;

  top: 50%;
  transform: translate3d(0, -50%, 0) scaleY(0);
  transition-duration: .7s, 0s;

  &.is-active {
    //opacity: 1;
    //visibility: visible;

    transform: translate3d(0, -50%, 0) scaleY(1);
    transition-duration: .7s, 0s;
    transition-property: all, height;
    transition-timing-function: cubic-bezier(.75, 0, .175, 1);
  }

  @for $i from 0 through 5 {

    .nav_item:nth-child(#{$i + 1}) {
      .nav_link {
        > span {
          opacity: 1;
          transform: translate3d(0, 0, 0);
          transition-delay: ($i + 1.9) * 1.38s;
        }
      }
    }

  }
}

.nav_animation-enter {
  top: 50%;
  transform: translate3d(0, -50%, 0) scaleY(0);

  &.nav_animation-enterActive {
    transform: translate3d(0, -50%, 0) scaleY(1);
    transition-duration: .7s, 0s;
    transition-property: all, height;
    transition-timing-function: cubic-bezier(.75, 0, .175, 1);
  }
}

.nav_animation-leave {
  top: 50%;
  transform: translate3d(0, -50%, 0) scaleY(1);
  &.nav_animation-leaveActive {
    transform: translate3d(0, -50%, 0) scaleY(0);
    transition-duration: .7s, 0s;
    transition-property: all, height;
    transition-timing-function: cubic-bezier(.75, 0, .175, 1);
  }
}

.nav_item {
  display: block;
  margin-bottom: 2rem;
}

.nav_link {
  display: block;
  text-align: center;
  overflow: hidden;
  > span {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    margin: 1rem;
    font-size: 7vh;
    color: $gray-800;
    opacity: 0;
    transform: translate3d(0, 110%, 0);
    transition: opacity, transform .6s cubic-bezier(.1666, .88, .44, 1);
    -webkit-text-stroke: .2rem rgba($gray-800, .8);
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-text-fill-color: transparent;
    > span {
      -webkit-tap-highlight-color: transparent;
      -webkit-font-smoothing: antialiased;
      -webkit-text-fill-color: transparent;
    }
    &:after {
      content: attr(data-text);
      position: absolute;
      top: 0;
      bottom: -10px;
      left: 0;
      display: inline-block;
      overflow: hidden;
      width: 0;
      white-space: pre;
      transition-timing-function: cubic-bezier(.86, 0, .07, 1);
      transition-property: width;
      transition-duration: .5s;
      will-change: width;
      backface-visibility: hidden;
      transform: translateZ(0);
      -webkit-tap-highlight-color: transparent;
      -webkit-font-smoothing: antialiased;
      -webkit-text-fill-color: $gray-800;
      -webkit-text-stroke: .2rem rgba($gray-800, .7);
    }
  }
  &.active {
    > span {
      -webkit-font-smoothing: subpixel-antialiased;
      -webkit-text-fill-color: transparent;
      &:after {
        width: 100%;
      }
    }
  }
  &:hover {
    > span {
      -webkit-font-smoothing: subpixel-antialiased;
      -webkit-text-fill-color: transparent;
      &:after {
        width: 100%;
      }
    }
  }
}

.nav--row {
  .nav_item {
    display: inline-block;
    padding-right: 3rem;
    &:last-child {
      padding-right: 0;
    }
    .nav_link {
      display: block;
      color: $white;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (max-width: $screen-sm-max) {
  .nav--coll {
    .nav_link {
      font-size: 3.2rem;
    }
  }
}